{% extends "base.html" %}

{% block title %}My Todo List{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center align-items-stretch">
      <div class="col-7">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
              <h2 class="my-4">Task List</h2>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="task-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="true">Tasks</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archived" type="button" role="tab" aria-controls="archive" aria-selected="false">Archived Tasks</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="task-tab">
                <table class="table text-white mb-0">
                  <thead>
                  <tr>
                      <th scope="col">Task</th>
                      <th scope="col">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for task in tasks %}
                    {% if task.completed == false %}
                      <tr class="fw-normal">
                          <td class="align-middle">
                              <span>{{task.title}}</span>
                          </td>
                          <td class="align-middle">
                              <form action="{{ url_for('complete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                                  <button type="submit" class="btn btn-link p-0" data-mdb-tooltip-init title="Complete Task">
                                    <i class="bi bi-check-lg text-white h1"></i>
                                  </button>
                              </form>
                              <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                                  <button type="submit" class="btn btn-link p-0" data-mdb-tooltip-init title="Delete Task">
                                    <i class="bi bi-trash-fill text-white h1"></i>
                                  </button>
                              </form>
                          </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                    <tr>
                      <form action="{{ url_for('add_task') }}" method="POST" onsubmit="return validateForm()">
                        <div class="input-group">
                          <button class="btn gradient-custom-2" type="submit" id="button-addon1">Add Task</button>
                          <input type="text" class="form-control" name="new_task" placeholder="Write out a task here..." aria-label="Input field to add task to list" aria-describedby="button-addon1" required>
                        </div>
                      </form>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
                <table class="table text-white mb-0">
                  <thead>
                  <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for task in tasks %}
                    {% if task.completed == true %}
                      <tr class="fw-normal">
                          <td class="align-middle">
                            <span>{{task.title}}</span>
                          </td>
                          <td class="align-middle">
                              <form action="{{ url_for('unarchive_task', task_id=task.id) }}" method="POST" style="display:inline;">
                                  <button type="submit" class="btn btn-link p-0" data-mdb-tooltip-init title="Uncomplete Task">
                                    <i class="bi bi-box-arrow-in-left text-white h1"></i>
                                  </button>
                              </form>
                              <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                                  <button type="submit" class="btn btn-link p-0" data-mdb-tooltip-init title="Delete Task">
                                    <i class="bi bi-trash-fill text-white h1"></i>
                                  </button>
                              </form>
                          </td>
                      </tr>
                      {% endif %}
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-5 mask-custom">
        <div class="card h-100" id="chat2">
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5 class="mb-0">ToDo Assistant</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px">

            <div class="d-flex flex-row justify-content-start">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                alt="avatar 1" style="width: 45px; height: 100%;">
              <div>
                <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">Hi</p>
                <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">How are you ...???
                </p>
                <p class="small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">What are you doing
                  tomorrow? Can we come up a bar?</p>
                <p class="small ms-3 mb-3 rounded-3 text-white">23:58</p>
              </div>
            </div>

            <div class="d-flex flex-row justify-content-end mb-4 pt-1">
              <div>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?</p>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see! Tomorrow
                  office. will
                  be free on sunday.</p>
                <p class="small me-3 mb-3 rounded-3 text-white d-flex justify-content-end">00:06</p>
              </div>
              <img src="{{ url_for('static', filename='robot.png') }}"
                alt="avatar 1" style="width: 45px; height: 100%;">
            </div>
          </div>
          <form id="chat-form">
            <div class="card-footer d-flex justify-content-start align-items-center p-3">
                <input type="text" class="form-control form-control-lg" id="chat-input"
                  placeholder="Type message">
                <button id="submit_message" class="ms-3" type="submit"><i class="bi bi-send text-white h1"></i></button>
            </div>
          </form>
        </div>

      </div>  
    </div>
  </div>
</section>

{% endblock %}