{% extends "base.html" %}

{% block title %}My Todo List{% endblock %}

{% block body %}
<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center align-items-stretch">
      <div class="col-7">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp" alt="Check" width="60">
              <h2 class="my-4">Task List</h2>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="task-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="true">Tasks</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="archive-tab" data-bs-toggle="tab" data-bs-target="#archived" type="button" role="tab" aria-controls="archive" aria-selected="false">Archived Tasks</button>
              </li>
            </ul>
            <form id="add-task-form">
              <div class="input-group">
                <button class="btn gradient-custom-2" type="submit" id="button-addon1">Add Task</button>
                <input id="task-title" type="text" class="form-control" name="new_task" placeholder="Write out a task here..." aria-label="Input field to add task to list" aria-describedby="button-addon1" required>
              </div>
            </form>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="task-tab">
                <table class="table text-white mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Task</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="task-list-body"> 
                    <!-- Task list to populate here -->
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
                <table class="table text-white mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Task</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody id="archived-list-body">
                    <!-- Archived task list to populate here -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-5 mask-custom">
        <div class="card h-100" id="chat2">
          <div class="card-header d-flex justify-content-between align-items-center p-3">
            <h5 class="mb-0">ToDo Assistant</h5>
          </div>
          <div id="chat-body" class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px">
            <!-- Chatbot messages to populate here -->
          </div>
          <form id="chat-form">
            <div class="card-footer d-flex justify-content-start align-items-center p-3">
                <input type="text" class="form-control form-control-lg" id="chat-input"
                  placeholder="Type message">
                <button id="submit_message" class="ms-3" type="submit"><i class="bi bi-send text-white h1"></i></button>
            </div>
          </form>
        </div>

      </div>  
    </div>
  </div>
</section>

{% endblock %}